
.friends-screen-container {
  margin-top: 10px;

  ul{
    list-style: none;
    padding: 10px;
  }

  .friend-item {
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-transform: lowercase;
    font-weight: 100;
    line-height: 3em;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      margin-top: -10px;
    }

    .name-portion {
      text-align: left;
    }
  }

  .generated-icon {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    text-transform: capitalize;
    color: white;
    margin: 10px auto;
  }

  .initial-label {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
  }

  .initial-group {
    margin: 0 0 10px 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 4px -10px 17px 5px rgba(0,0,0,0.3);
    transition: 0.3s ease;
    padding: 20px 5px;
  }

}
