.show-itemized-debts-screen {
  .balance-row.expand-itemized {
    height: auto;
  }

  .expand-itemized {
    .debt-details, .debt-excerpt {
      display: none;
    }
  }

  .balance-row.hide-itemized:nth-child(odd) {
    margin-top: 0;
    margin-bottom:0;
    height: 0;
    opacity: 0;
    transform: perspective(1600px) rotateX(-90deg) translateY(20px);
  }

  .balance-row.hide-itemized:nth-child(even) {
    margin-top: 0;
    margin-bottom:0;
    height: 0;
    transform: perspective(1600px) rotateX(90deg) translateY(20px);
    opacity: 0;
  }

  .balance-row.expand-itemized {
   height: auto;
   opacity: 1;
   transform: perspective(0) rotateX(0);
   margin: auto;
 }
}

.itemized-debts {
  > .row {
    padding: 10px;
  }

  .row:first-child {
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: auto;
    font-weight: 100;
  }

  .row:nth-child(2) {
    padding-top: 0;
    width: 90%;
    margin: auto;
    font-weight: 500;
  }

}

.debt-timeline {
  margin-bottom: 2em;
}

.timeline-event {
  border-left: 1px solid #aaa;
  padding: 10px 2em;
  margin-left: 5em;
  font-size: 10px;
  width: 100%;

  &:before {
    content: '';
    border: 3px solid #03a9f4;
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    left: 4.5em;
  }
}

.show-balances-screen .itemized-debts {
  display: none;
}
