$modals: (
  create-debt-container: #0275d8,
  add-friend: orange
);

@each $name, $highlight in $modals {
  .#{$name} {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.7s ease;
    padding: 10px 30px;
    border-left: 5px solid $highlight;

    .modal-title {
      font-weight: 100;
      text-transform: uppercase;
      border-bottom: 1px solid #ddd;
      margin-bottom: 2em;
    }

    label {
      text-transform: uppercase;
      color: #777;
      font-size: 12px;
      position: relative;

      &:before {
        content: '▹';
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: block;
        background-color: $highlight;
        color: white;
        position: absolute;
        top: -6px;
        left: -40px;
        padding-left: 12px;
        line-height: 26px;
        font-size: 18px;
      }
    }

    input, select {
      width: 100%;
      margin-bottom: 2em;
    }

    input[type=text], input[type=number], select {
      border: 0;
      background: none;
      border-bottom: 1px solid $highlight;
      border-radius: 0;

      &::placeholder {
        color: #aaa;
      }
    }

    button {
      text-transform: uppercase;
      position: relative;

      &:hover {
        background-color: $highlight;
        color: white;
        border-color: $highlight;
      }

      &.loading {
        color: $highlight !important;
      }
    }
  }
}

.create-debt-container ul {
  padding: 0;
  list-style: none;
}

.create-debt-card:first-child:after {
  content: 'OR';
  height: 30px;
  width: 30px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 2em;
  color: map-get($modals, create-debt-container);
  border-bottom: 3px dotted map-get($modals, create-debt-container);
}

.show-cents .amount-row {
  margin: 0 0.1em;

  .debt-amount:first-of-type {
    width: 40%;
    text-align: left;
  }

  & > span {
    font-size: 10px;
    line-height: 20px;
  }
}
