.pending-screen-container > div > .col {
    margin: 0;
}

.pending-screen-container {
  li {
    height: 5em;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.7s ease;
    padding: 10px 30px;

    &.todo-debt-row, &.sent-debt-row {
      height: 7em;
      position: relative;
    }

    @media (max-width: $small) {
      height: auto;
    }
  }

  .card-title {
    font-size: 18px;
    font-weight: 100;
    border-right: 1px solid #eee;
    line-height: 3em;
    padding-right: 1em;
    margin-right: 1em;

    @media (max-width: $small) {
      font-size: 12px;
      width: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #eee;
    }
  }

  .request-details {
    span {
      font-size: 14px;

      @media (max-width: $small) {
        font-size: 10px;
      }
    }

    span:first-child {
      font-size: 10px;
      display: block;
      border-bottom: 1px solid #eee;
      text-transform: uppercase;

      @media (max-width: $small) {
        border: 0;
      }
    }

    span:last-child {
      display: block;
      font-size: 9px;
      font-weight: 100;
    }
  }

  .friend-details {
    @media (max-width: $small) {
      margin: 0;
      border: 0;
      padding-left: 0;
    }
  }

  .confirm-friend-button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;

    &:hover {
      background: #8bc34a;
      color: white;
      border-color: white;
    }
  }

  .debt-details {
    @media (max-width: $small) {
      width: 100%;
    }

    .debtor {
      font-size: 10px;
      display: block;
      border-bottom: 1px solid #eee;
      text-transform: uppercase;
      width: 100%;

      &:after {
        content: ' owe';
      }

      @media (max-width: $small) {
        font-size: 9px;
      }
    }

    .creditor {
      font-size: 10px;
      display: block;
      text-transform: uppercase;
      width: 100%;
    }

    .desc {
      font-size: 10px;
    }

    .amount {
      position: absolute;
      left: 1em;
      top: 3.8em;
      border-top: 1px solid #ddd;

      .currency-span {
        font-size: 9px;
      }
      .money-span {
        font-weight: 100;
      }
    }
  }

  .todo-debt-row {
    .action-buttons {
      position: absolute;
      right: 0;
    }
    button {
      background: none;
      border: 1px solid #ddd;
      border-radius: 5px;

      &:hover {
        background: #8bc34a;
        color: white;
        border-color: white;
      }
    }
  }
}
