.pending-screen-container {
  li {
    height: 5em;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.7s ease;
    padding: 10px 30px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 100;
    border-right: 1px solid #eee;
    line-height: 3em;
    padding-right: 1em;
    margin-right: 1em;
  }

  .request-details {
    span:first-child {
      font-size: 10px;
      display: block;
      border-bottom: 1px solid #eee;
      text-transform: uppercase;
    }

    span:last-child {
      display: block;
      font-size: 9px;
      font-weight: 100;
    }
  }

  .confirm-friend-button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;

    &:hover {
      background: #8bc34a;
      color: white;
    }
  }
}
