$routes: (
  BalancesScreen: balances-screen,
  FriendsScreen: friends-screen,
  PendingScreen: pending-screen,
  SettingsScreen: settings-screen,
  AddFriendScreen: add-friend-screen,
  CreateDebtScreen: create-debt-screen,
  ItemizedDebtsScreen: itemized-debts-screen
);

$modals: (
  AddFriendScreen: add-friend-screen,
  CreateDebtScreen: create-debt-screen,
  ItemizedDebtsScreen: itemized-debts-screen
);

// Base Transitions
@each $route, $name in $routes {
  .#{$name}-container {
    transition: all 0.5s;
    transform: translateX(0);
  }
}

// generates the hide/show rules for each page. assumes that when one page is active, no other page is.
@each $route, $name in $routes {
  .show-#{$name} {
    @each $_route, $_name in $routes {
      .#{$_name}-container {
        transform: translateX(-3000px); height: 0; margin: 0; padding: 0;
      }

      .#{$name}-container {
        transform: none;
      }
    }

    // don't show back section on main pages
    .go-back-section {
      margin-left: -34em;
    }

    .logo-section {
      margin-left: 0;
    }

    .add-friend-bar, .create-debt-bar {
      transform: translateY(80px);
    }
  }
}

@each $route, $name in $modals {
  .show-#{$name} {
    .go-back-section {
      margin-left: 0;
    }

    .logo-section {
      margin-left: -23em;
    }
  }
}

.show-itemized-debts-screen .balances-screen-container {
  transform: none; height: auto; margin: 0; padding: 0;
}

.show-balances-screen .create-debt-bar,
.show-friends-screen .add-friend-bar {
  transform: none;
}
