.settings-screen-container {
  ul > div {
    height: 4.5em;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.7s ease;
    padding: 10px 30px;
    font-weight: 300;
  }

  span {
    display: block;
    width: 100%;
    font-weight: 500;

  }
}
