@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* general */
body {
  height: 100%;
  color: #444;
  font-family: "Lato", Arial, sans-serif;
  background-color: #444; }

html {
  height: 100%; }

.container {
  background-image: url("45-degree-fabric-light.png");
  max-width: 600px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  height: 100vh;
  overflow-y: scroll; }

.page-container {
  margin-top: 10px; }

/* loading overlays */
#metamaskOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  #metamaskOverlay.in-active {
    display: none; }
  #metamaskOverlay h6 {
    font-weight: 100;
    width: 100%; }
  #metamaskOverlay button {
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer; }
    #metamaskOverlay button:hover {
      color: #aaa;
      transform: rotate(60deg); }
    #metamaskOverlay button:focus {
      border: none; }

#loadingOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  #loadingOverlay h6 {
    font-weight: 100; }
  #loadingOverlay .loading-spinner {
    transform: translateY(-0.2em) translateX(-2em); }
  #loadingOverlay.in-active {
    display: none; }

.container.loading .page-container {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.container.require-login .page-container,
.container.require-login .top-bar,
.container.require-login .header-menu,
.container.require-login .create-debt-bar,
.container.require-login .add-friend-bar {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(5px);
  filter: blur(5px); }

#debtLoadingOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 99; }

.loading-spinner {
  color: #f00;
  animation: color-bubble 2s linear 0s infinite; }
  .loading-spinner:after, .loading-spinner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;
    box-shadow: 0 0 0 3px;
    animation: spinner-bubble 1.3s linear 0s infinite;
    margin: auto;
    width: 0.3em;
    height: 0.3em;
    opacity: 0; }
  .loading-spinner:before {
    animation: spinner-bubble 1.3s linear 2s infinite; }

@keyframes color-bubble {
  0% {
    color: #fff; }
  33% {
    color: red; }
  66% {
    color: orange; }
  100% {
    color: #FEB825; } }

@keyframes spinner-bubble {
  from {
    width: 0.3em;
    height: 0.3em;
    opacity: .8; }
  to {
    width: 1.5em;
    height: 1.5em;
    opacity: 0; } }

@keyframes color-change {
  0% {
    background: #fff; }
  33% {
    background: #50B949; }
  66% {
    background: #EE2D24; }
  100% {
    background: #FEB825; } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.create-debt-container {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.7s ease;
  padding: 10px 30px;
  border-left: 5px solid #0275d8; }
  .create-debt-container .modal-title {
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em; }
  .create-debt-container label {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    position: relative; }
    .create-debt-container label:before {
      content: '▹';
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: block;
      background-color: #0275d8;
      color: white;
      position: absolute;
      top: -6px;
      left: -40px;
      padding-left: 12px;
      line-height: 26px;
      font-size: 18px; }
  .create-debt-container input, .create-debt-container select {
    width: 100%;
    margin-bottom: 2em; }
  .create-debt-container input[type=text], .create-debt-container input[type=number], .create-debt-container select {
    border: 0;
    background: none;
    border-bottom: 1px solid #0275d8;
    border-radius: 0; }
    .create-debt-container input[type=text]::placeholder, .create-debt-container input[type=number]::placeholder, .create-debt-container select::placeholder {
      color: #aaa; }
  .create-debt-container button {
    text-transform: uppercase; }
    .create-debt-container button:hover {
      background-color: #0275d8;
      color: white;
      border-color: #0275d8; }

.add-friend {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.7s ease;
  padding: 10px 30px;
  border-left: 5px solid orange; }
  .add-friend .modal-title {
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em; }
  .add-friend label {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    position: relative; }
    .add-friend label:before {
      content: '▹';
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: block;
      background-color: orange;
      color: white;
      position: absolute;
      top: -6px;
      left: -40px;
      padding-left: 12px;
      line-height: 26px;
      font-size: 18px; }
  .add-friend input, .add-friend select {
    width: 100%;
    margin-bottom: 2em; }
  .add-friend input[type=text], .add-friend input[type=number], .add-friend select {
    border: 0;
    background: none;
    border-bottom: 1px solid orange;
    border-radius: 0; }
    .add-friend input[type=text]::placeholder, .add-friend input[type=number]::placeholder, .add-friend select::placeholder {
      color: #aaa; }
  .add-friend button {
    text-transform: uppercase; }
    .add-friend button:hover {
      background-color: orange;
      color: white;
      border-color: orange; }

.create-debt-container ul {
  padding: 0;
  list-style: none; }

.create-debt-card:first-child:after {
  content: 'OR';
  height: 30px;
  width: 30px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 2em;
  color: #0275d8;
  border-bottom: 3px dotted #0275d8; }

.top-bar {
  background: #ff5722;
  line-height: 3em; }
  .top-bar .logo-section {
    text-transform: uppercase;
    color: white; }
    .top-bar .logo-section img {
      height: 30px;
      width: 30px; }
  .top-bar .go-back-section a {
    color: white; }
    .top-bar .go-back-section a:hover {
      color: white;
      text-decoration: none; }
      .top-bar .go-back-section a:hover i {
        margin-left: -0.5em;
        transition: all 0.3s; }
  .top-bar .go-back-section, .top-bar .logo-section {
    transition: all 1s ease; }
  .top-bar .current-transactions {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    opacity: 0; }
    .top-bar .current-transactions.processing {
      opacity: 1; }
  .top-bar .transaction-spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: -1.5em;
    top: 1.3em;
    margin: auto;
    border: 1px solid;
    animation: rotate 0.9s linear 0s infinite, color-bubble 1s linear 0s infinite; }
    .top-bar .transaction-spinner:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 100%;
      left: 9px;
      top: 15px; }

.header-menu {
  background: #ff5722;
  padding: 1em;
  box-shadow: 0 6px 5px 5px rgba(0, 0, 0, 0.3); }
  .header-menu a {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
    border-radius: 1em;
    transition: 1s ease; }
    .header-menu a.active {
      background-color: #e03702; }

.create-debt-bar, .add-friend-bar {
  transition: all 0.8s ease-out;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .create-debt-bar a, .add-friend-bar a {
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
    background: white;
    height: 2em;
    border-radius: 50%;
    width: 2em;
    padding: 0.5em 0 0 0.6em;
    line-height: 1em; }
    .create-debt-bar a:hover, .add-friend-bar a:hover {
      color: black;
      box-shadow: 0 0px 2px 5px rgba(0, 0, 0, 0.6); }

.add-friend-bar a {
  color: orange; }

.balances-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.friends-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.pending-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.settings-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.add-friend-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.create-debt-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.itemized-debts-screen-container {
  transition: all 0.5s;
  transform: translateX(0); }

.show-balances-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-balances-screen .balances-screen-container {
  transform: none; }

.show-balances-screen .go-back-section {
  margin-left: -34em; }

.show-balances-screen .logo-section {
  margin-left: 0; }

.show-balances-screen .add-friend-bar, .show-balances-screen .create-debt-bar {
  transform: translateY(50px); }

.show-friends-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-friends-screen .friends-screen-container {
  transform: none; }

.show-friends-screen .go-back-section {
  margin-left: -34em; }

.show-friends-screen .logo-section {
  margin-left: 0; }

.show-friends-screen .add-friend-bar, .show-friends-screen .create-debt-bar {
  transform: translateY(50px); }

.show-pending-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-pending-screen .pending-screen-container {
  transform: none; }

.show-pending-screen .go-back-section {
  margin-left: -34em; }

.show-pending-screen .logo-section {
  margin-left: 0; }

.show-pending-screen .add-friend-bar, .show-pending-screen .create-debt-bar {
  transform: translateY(50px); }

.show-settings-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-settings-screen .settings-screen-container {
  transform: none; }

.show-settings-screen .go-back-section {
  margin-left: -34em; }

.show-settings-screen .logo-section {
  margin-left: 0; }

.show-settings-screen .add-friend-bar, .show-settings-screen .create-debt-bar {
  transform: translateY(50px); }

.show-add-friend-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-add-friend-screen .add-friend-screen-container {
  transform: none; }

.show-add-friend-screen .go-back-section {
  margin-left: -34em; }

.show-add-friend-screen .logo-section {
  margin-left: 0; }

.show-add-friend-screen .add-friend-bar, .show-add-friend-screen .create-debt-bar {
  transform: translateY(50px); }

.show-create-debt-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-create-debt-screen .create-debt-screen-container {
  transform: none; }

.show-create-debt-screen .go-back-section {
  margin-left: -34em; }

.show-create-debt-screen .logo-section {
  margin-left: 0; }

.show-create-debt-screen .add-friend-bar, .show-create-debt-screen .create-debt-bar {
  transform: translateY(50px); }

.show-itemized-debts-screen .balances-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .friends-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .pending-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .settings-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .add-friend-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .create-debt-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: translateX(-3000px);
  height: 0;
  margin: 0;
  padding: 0; }

.show-itemized-debts-screen .itemized-debts-screen-container {
  transform: none; }

.show-itemized-debts-screen .go-back-section {
  margin-left: -34em; }

.show-itemized-debts-screen .logo-section {
  margin-left: 0; }

.show-itemized-debts-screen .add-friend-bar, .show-itemized-debts-screen .create-debt-bar {
  transform: translateY(50px); }

.show-add-friend-screen .go-back-section {
  margin-left: 0; }

.show-add-friend-screen .logo-section {
  margin-left: -23em; }

.show-create-debt-screen .go-back-section {
  margin-left: 0; }

.show-create-debt-screen .logo-section {
  margin-left: -23em; }

.show-itemized-debts-screen .go-back-section {
  margin-left: 0; }

.show-itemized-debts-screen .logo-section {
  margin-left: -23em; }

.show-itemized-debts-screen .balances-screen-container {
  transform: none;
  height: auto;
  margin: 0;
  padding: 0; }

.show-balances-screen .create-debt-bar,
.show-friends-screen .add-friend-bar {
  transform: none; }

.all-balances-container ul {
  list-style: none;
  padding: 1em;
  overflow: hidden; }

.balance-row {
  height: 140px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.7s ease; }

.balance-row:hover .highlight {
  filter: brightness(1.1); }

.balance-row .highlight {
  background: orange;
  flex: 0 0 2.333333%; }

.balance-row small {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 9px;
  color: #B8B8B8; }

.balance-row .debt-amount {
  font-size: 24px;
  font-weight: 100; }

.balance-row .thin-item {
  /* date: */
  font-weight: 100;
  font-size: 11px;
  color: #000000; }

.row.thin-item-row {
  position: absolute;
  bottom: 10px;
  width: 100%; }

.debt-excerpt {
  padding-left: 30px;
  border-right: 1px solid #ddd; }

.debt-relationship {
  margin-top: 10px; }

.debt-relationship .row:first-child {
  border-bottom: 1px dotted #ddd; }

.label-row {
  position: absolute;
  bottom: 30px;
  width: 100%; }

.show-itemized-debts-screen .balance-row.expand-itemized {
  height: auto; }

.show-itemized-debts-screen .expand-itemized .debt-details, .show-itemized-debts-screen .expand-itemized .debt-excerpt {
  display: none; }

.show-itemized-debts-screen .balance-row.hide-itemized:nth-child(odd) {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  transform: perspective(1600px) rotateX(-90deg) translateY(20px); }

.show-itemized-debts-screen .balance-row.hide-itemized:nth-child(even) {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  transform: perspective(1600px) rotateX(90deg) translateY(20px);
  opacity: 0; }

.show-itemized-debts-screen .balance-row.expand-itemized {
  height: auto;
  opacity: 1;
  transform: perspective(0) rotateX(0);
  margin: auto; }

.itemized-debts > .row {
  padding: 10px; }

.itemized-debts .row:first-child {
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
  width: 90%;
  margin: auto;
  font-weight: 100; }

.itemized-debts .row:nth-child(2) {
  padding-top: 0;
  width: 90%;
  margin: auto;
  font-weight: 500; }

.debt-timeline {
  margin-bottom: 2em; }

.timeline-event {
  border-left: 1px solid #aaa;
  padding: 10px 2em;
  margin-left: 5em;
  font-size: 10px;
  width: 100%; }
  .timeline-event:before {
    content: '';
    border: 3px solid #03a9f4;
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    left: 4.5em; }

.show-balances-screen .itemized-debts {
  display: none; }

.friends-screen-container {
  margin-top: 10px; }
  .friends-screen-container ul {
    list-style: none;
    padding: 10px; }
  .friends-screen-container .friend-item {
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-transform: lowercase;
    font-weight: 100;
    line-height: 3em; }
    .friends-screen-container .friend-item:last-child {
      border-bottom: none; }
    .friends-screen-container .friend-item:first-child {
      margin-top: -10px; }
    .friends-screen-container .friend-item .name-portion {
      text-align: left; }
      .friends-screen-container .friend-item .name-portion span:last-child {
        display: block;
        line-height: 1em;
        font-weight: 500;
        font-size: 9px;
        margin-top: -1em; }
  .friends-screen-container .generated-icon {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    text-transform: capitalize;
    color: white;
    margin: 10px auto; }
  .friends-screen-container .initial-label {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #333; }
  .friends-screen-container .initial-group {
    margin: 0 0 10px 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 4px -10px 17px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    padding: 20px 5px; }

.pending-screen-container > div > .col {
  margin: 0; }

.pending-screen-container li {
  height: 5em;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.7s ease;
  padding: 10px 30px; }
  .pending-screen-container li.todo-debt-row, .pending-screen-container li.sent-debt-row {
    height: 7em; }

.pending-screen-container .card-title {
  font-size: 18px;
  font-weight: 100;
  border-right: 1px solid #eee;
  line-height: 3em;
  padding-right: 1em;
  margin-right: 1em; }

.pending-screen-container .request-details span:first-child {
  font-size: 10px;
  display: block;
  border-bottom: 1px solid #eee;
  text-transform: uppercase; }

.pending-screen-container .request-details span:last-child {
  display: block;
  font-size: 9px;
  font-weight: 100; }

.pending-screen-container .confirm-friend-button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .pending-screen-container .confirm-friend-button:hover {
    background: #8bc34a;
    color: white;
    border-color: white; }

.pending-screen-container .debt-details .debtor {
  font-size: 10px;
  display: block;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  width: 100%; }
  .pending-screen-container .debt-details .debtor:after {
    content: ' owes'; }

.pending-screen-container .debt-details .creditor {
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  width: 100%; }

.pending-screen-container .debt-details .amount {
  position: absolute;
  left: 1em;
  top: 3.8em;
  border-top: 1px solid #ddd; }
  .pending-screen-container .debt-details .amount .currency-span {
    font-size: 9px; }
  .pending-screen-container .debt-details .amount .money-span {
    font-weight: 100; }

.pending-screen-container .todo-debt-row .action-buttons {
  position: absolute;
  right: 0; }

.pending-screen-container .todo-debt-row button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .pending-screen-container .todo-debt-row button:hover {
    background: #8bc34a;
    color: white;
    border-color: white; }

.settings-screen-container ul > div {
  height: 4.5em;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.7s ease;
  padding: 10px 30px;
  font-weight: 300; }

.settings-screen-container span {
  display: block;
  width: 100%;
  font-weight: 500; }
